:root {
  font-size: 14px;
}
body {
	
	font-family: "Almarai", sans-serif;
	text-align: right;
}
a:hover {
	text-decoration: none;
}
 
.views{
  position: absolute;
  top: 10px;
  right: 10px;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.service-desc{
  font-size: 10px;
}

.laptop-thumb{
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.laptop-thumb:hover{
  transform: translateY(-5px);
}

#admin-sidebar{
  padding: 0;
  margin: 0;
  transition: all .2s;
  height: 100%;
  overflow:hidden;
}
#admin-sidebar .link:hover{
  background-color: var(--warning);
  color: var(--dark) !important;
  font-weight: bold;
}

#admin-sidebar-toggle:hover{
  color: var(--info) !important;
}
